{% extends "./base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10px">
    <div class="page-header">
        <div class="row column text-center">
            <h1>COMMENTS</h1>
        </div>
    </div>
</div>

<div class="container">

    <div class=row>
        <div class="col-md-2"></div>
        <div class="col-md-8 text-justify">
            <div class="blog-post">
                <h2>{{post.title}}</h2>
                <h3>{{post.posted.strftime('%d-%m-%Y')}}</h3>
                <br>
                <p>{{post.text}}</p>
                <br>
                <p>Author: {{post.username}}</p>

            </div>





            {% if comments %}
            {%for comment in comments%}


            <div class="panel panel-primary">
                <div class="panel-heading text-justify">
                    <p>{{comment.username}}</p>
                    <p>{{comment.posted.strftime('%d-%m-%Y')}}</p>
                </div>
                <div class="panel-body">
                    {{comment.text}}
                    <br>
                    <br>
                </div>

            </div>
            <a class="text-white" href="{{url_for('main.delete_comment',id =comment.id)}}"><button type="button"
                    class="btn btn-danger">Delete</button></a>
            <br>
            
            {% endfor %}
            <br>
            <br>
            {%endif%}
            <br>
            <h3>comment</h3>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-2"></div>
        {% endblock %}
    </div>